* text=auto !eol
/AUTHORS -text
/COPYING -text
/Makefile -text
/apertium-bzd.bzd.foma -text
/apertium-bzd.bzd.lexc -text
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
